{% set active_page = "login" %}

{% extends "base.html" %}

{% block content %}
  
 <form action="" method="POST" name="form" id="form-create">
    {{ form.hidden_tag() }}
    <div class="form-group">
        <p>
            <label class="control-label" for="title">Post Title</label>
            
            {{ form.title(rows='1', cols='100') }}
            {% for error in form.title.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}<br><br>

            <label id="create-text-area" class="control-label" for="text">Post Body</label>
            {{ form.text(rows='10',cols='100') }}
            {% for error in form.text.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}<br>
        </p>
        <button class="btn btn-default" type="submit">Submit</button>
        </div>
    </form>

    <p> {{ check }} </p>

{% endblock %}