{% extends "base.html" %}
{% block content %}

<script>
	var blogentry =  'https://questblog.herokuapp.com/api/blog';
	var text = [];
	var title = [];
	var time = [];
	var bid = [];

	function requestJSON(url, callback) {
	    $.ajax({
	      url: url,
	      complete: function(xhr) {
	        callback.call(null, xhr.responseJSON);
	      }
	    });
	}

	requestJSON(blogentry, function(json) {
		var outhtml = '<h2>'+'Public Page'+'</h2>';
		// outhtml = outhtml + '<li>';

		// json.array.length for full array
		var i = 0;
		while (json.array[i]) {
			text.push(json.array[i].text);
			title.push(json.array[i].title);
			time.push(json.array[i].time);
			bid.push(json.array[i]._id);
			var pos = i + 1;
			outhtml = outhtml + '<div class="container singleblog" id="singleblog' + pos + '">';
			outhtml = outhtml + '<h3>' + pos + ': ' + title[i] + '</h3>';
			outhtml = outhtml + '<p>' + text[i].substr(0,50) + '</p>';
			outhtml = outhtml + '</div>';
			i++;
		}

		// outhtml = outhtml + '</li>';
		outputPageContent();

		function outputPageContent() {
			$('#all-blog-titles').html(outhtml);
		}
	});
</script>

<div class="container" id="main-content">
	<div id="all-blog-titles" class="clearfix">
	</div>
</div>

{% endblock %}
