{% extends "base.html" %}
{% block content %}
{% set active_page = "login" %}

    <form action="" method="POST" name="login" id="login-form" class="form-horizontal">
        {{ form.hidden_tag() }}
        <h2> Login </h2>
        <div class="control-group">
            <label class="control-label" for="username">Username <span style="color: blue;">(Zenon)</span></label>
            <div class="controls">
                {{ form.username }}
                {% for error in form.username.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}<br>
            </div>
        </div>  
        <div class="control-group">
            <label class="control-label" for="password">Password <span style="color: blue;">(zenon)</span></label>
            <div class="controls">
                {{ form.password }}
                {% for error in form.password.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}<br>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
            {{ form.remember_me }}Remember Me
            <button class="btn btn-default" type="submit">Sign in</button>
            </div>
        </div>
    </form>

        <p> {{ check }} </p>

{% endblock %}